.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-bottom: 3px solid;
  margin: 10px; 
  flex: 1 1;
}

.text{
  font-size: 32px;
  font-weight: 700;
}

.clearingButton {
  &--1{
    @extend .button;
    border-bottom-color: hsl(224, 28%, 35%);
    background-color: hsl(225, 21%, 49%);
    &--text{
      @extend .text;
      color: hsl(0, 0%, 100%);
      font-size: 20px;
    }
  }
} 

.inputButton {
  &--1{
    @extend .button;
    border-bottom-color: hsl(28, 16%, 65%);
    background-color: hsl(30, 25%, 89%);
    &--text{
      @extend .text;
      color:hsl(221, 14%, 31%);
    }
  }
}

.equalsButton {
  &--1{
    @extend .button;
    border-bottom-color: hsl(6, 70%, 34%);
    background-color: hsl(6, 63%, 50%);
    &--text{
      @extend .text;
      color: hsl(0, 0%, 100%);
    }
  }
} 
